<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hi <%= @user.email %>, </h3>
<p>
  This email is to notify you that we found a successfully login attempt to your account.
</p>
<p>If that is you, you don't need to do anything and have a great day!</p>
</body>
</html>